@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

body {
    font-family: 'Anonymous Pro', monospace;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
    font-size: calc(1.325rem + .9vw);
}

p .material-icons-sharp, a .material-icons-sharp {
    vertical-align: bottom;
    font-size: 18px;
}