@import url("navbar.css");

:root {
    --main-bg-color: #141414;

    --main-text-color: #FFFFFF;
    --light-text-color: #646464;
    --faint-text-color: #252525;

    --link-color: lightBlue;
}

html, body {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Hack', monospace;
}

code {
    font-family: 'Hack', monospace !important;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
    overflow-wrap: break-word;
}

h2 {
    font-size: calc(1.325rem + .9vw);
}

p .material-icons-sharp, a .material-icons-sharp {
    vertical-align: bottom;
    font-size: 18px;
}

body {
    margin: 0px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
}

#title-pretext {
    color: var(--light-text-color);
}

main {
    margin: 16px;
    margin-top: 0px;
    flex: 1 0 auto;
}

a:link, a:visited {
    color: var(--link-color);
}

a:hover, .link-selected {
    background-color: var(--main-text-color);
    color: var(--main-bg-color) !important;
}
 
hr {
     border: 1px solid var(--faint-text-color);
}

code {
    background-color: var(--faint-text-color);
    padding-left: 8px;
    padding-right: 8px;
}

main img, article img {
    max-width: 100%;
}

figcaption {
    font-style: italic;
}

table, th, td {
    border: 1px solid var(--faint-text-color);
    border-collapse: collapse;
}

td {
    padding-left: 4px;
    padding-right: 4px;
}

th {
    background-color: var(--faint-text-color);
}

main {
    overflow: hidden;
}

button, .card {
    background-color: var(--main-bg-color);
    border: 1px solid var(--faint-text-color);
    border-radius: 2px;
    padding: 8px;
    color: var(--main-text-color);
}

button {
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

.card {
    display: inline-block;
    flex-grow: 1;
}

@media screen and (min-width: 600px) {
    .card {
        flex-basis: 300px;
    }
}

.card-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card *:first-child {
    margin-top: 0px;
}

#navTitle {
    text-decoration: underline;
}

blockquote p {
    font-style: italic;
}

blockquote p::before, blockquote p::after {
    content: '"'
}

blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid var(--faint-text-color);
}