---
layout: page
title: projects
permalink: /projects/
---

<div class="card-container">
    {% for project in site.projects %}

        <div class="card">
            <h3>{{ project.title }}</h3>
            <p>{{ project }}</p>

            {% if project.link != nil %}
                <a href="{{ project.link }}">See more</a>
            {% endif %}

            {% if project.code != nil %}
                <a href="{{ project.code }}">View code</a>
            {% endif %}
        </div>

    {% endfor %}
</div>