---
layout: default
---

<h1>{{ page.title }}</h1>
<p>By {{ page.author }}  • {{ page.date | date: "%-d %B %Y" }}</p>

<p>Tags: <i>{{ page.tags | join: ", " }}</i></p>

<hr>

<div class="card">
    <h2>Contents</h2>
    {% include toc.html html=content %}
</div>

<article style="max-width: 100vw;">
    {% include anchor_headings.html html=content anchorBody="#" %}
</article>

<hr>

<div>
    {% if page.previous.url %}
      <a style="float: left;" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a style="float: right;" class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
</div>